body {
  font-family: 'Roboto', sans-serif;
}


#footer {
  position: fixed;
  background-color: rgb(120, 120, 120, 150);

  bottom: 0px;
  left: -5px;

  width: 105%;

  z-index: 10;
}

#footer > p {
  margin-left: 10px;
}

canvas {
  position: fixed;
  left: -5px;
  top: -20px;

  z-index: 2;
}

#player {
  position: fixed;
  z-index: 1;
}

#popup-info {
  position: fixed;
  display: flex;
  text-align: center;
  color: white;
  z-index: 3;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#popup-info > div {
  max-width: 30%;
  background-color: #404040;
  padding: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
}

.link-blue {
  color: #63a9e6;
}
